sample-flows/flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"50bbe81f.b8f4c","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://192.168.1.87:8086","rejectUnauthorized":false},{"id":"ed88c49d.3decc8","type":"exec","z":"f6f2187d.f17ca8","command":"python3 /root/sensors/dht22/sensor.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Read DHT22","x":330,"y":140,"wires":[["4a3e431c.23d99c"],[],[]]},{"id":"2f089b11.815de4","type":"inject","z":"f6f2187d.f17ca8","name":"Repeat","props":[{"p":"timestamp","v":"","vt":"date"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":140,"wires":[["ed88c49d.3decc8"]]},{"id":"54a5bbcb.5bcc3c","type":"debug","z":"f6f2187d.f17ca8","name":"Debug Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":180,"wires":[]},{"id":"bfc5d16d.04ea7","type":"http request","z":"f6f2187d.f17ca8","name":"Post to Cloud","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://rviot.azurewebsites.net/sensors","tls":"","persist":false,"proxy":"","authType":"","x":860,"y":240,"wires":[[]]},{"id":"4a3e431c.23d99c","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"","pretty":false,"x":330,"y":220,"wires":[["644b874d.e43988"]]},{"id":"f0f3b751.5c525","type":"function","z":"f6f2187d.f17ca8","name":"Calc C->F","func":"let c = msg.payload.TempC * 1.8 + 32\nmsg.payload.TempF = Math.round(c*10, 1)/10\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":200,"wires":[["54a5bbcb.5bcc3c","bfc5d16d.04ea7","b6b93382.d8f5d8"]]},{"id":"644b874d.e43988","type":"function","z":"f6f2187d.f17ca8","name":"Timestamp","func":"msg.payload.timestamp = new Date()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":140,"wires":[["f0f3b751.5c525"]]},{"id":"b6b93382.d8f5d8","type":"influxdb out","z":"f6f2187d.f17ca8","influxdb":"50bbe81f.b8f4c","name":"Influx Insert","measurement":"main","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"young","bucket":"rvdata","x":850,"y":300,"wires":[]},{"id":"a50e1f1b.4f3c68","type":"inject","z":"f6f2187d.f17ca8","name":"Repeat","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":420,"wires":[["1994d028.22304"]]},{"id":"1994d028.22304","type":"exec","z":"f6f2187d.f17ca8","command":"/root/sensors/pitemp/sensor.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Read PI CPU Temp","x":500,"y":440,"wires":[["6ed85217.6db0cc"],[],[]]},{"id":"28684e85.df17ea","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":480,"wires":[]},{"id":"6ed85217.6db0cc","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"obj","pretty":false,"x":510,"y":520,"wires":[["28684e85.df17ea","e7aece1d.e34ca8"]]},{"id":"e7aece1d.e34ca8","type":"influxdb out","z":"f6f2187d.f17ca8","influxdb":"50bbe81f.b8f4c","name":"Influx Insert","measurement":"raspberry_pi","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"young","bucket":"rvdata","x":750,"y":560,"wires":[]},{"id":"956ffd65.9e833","type":"pushover","z":"f6f2187d.f17ca8","name":"","device":"","title":"","priority":0,"sound":"","url":"","url_title":"","html":false,"x":330,"y":640,"wires":[]},{"id":"efb601de.4313d","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":660,"wires":[["956ffd65.9e833"]]}]