sample-flows/flows.json
[{"id":"b026e386.3a0a78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"58897973.325b","type":"exec","z":"b026e386.3a0a78","command":"python3 /root/sensors/dht22/sensor.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Read DHT22","x":330,"y":140,"wires":[["16352185.62c89e"],[],[]]},{"id":"eaf58035.a201d8","type":"inject","z":"b026e386.3a0a78","name":"Repeat","props":[{"p":"timestamp","v":"","vt":"date"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":140,"wires":[["58897973.325b"]]},{"id":"5ae92e17.e831e8","type":"debug","z":"b026e386.3a0a78","name":"Debug Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":180,"wires":[]},{"id":"7571fef0.89e8c","type":"http request","z":"b026e386.3a0a78","name":"Post to Cloud","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://rviot.azurewebsites.net/sensors","tls":"","persist":false,"proxy":"","authType":"","x":860,"y":240,"wires":[[]]},{"id":"16352185.62c89e","type":"json","z":"b026e386.3a0a78","name":"","property":"payload","action":"","pretty":false,"x":330,"y":220,"wires":[["f612c540.b8a748"]]},{"id":"488bee13.156bf","type":"function","z":"b026e386.3a0a78","name":"Calc C->F","func":"let c = msg.payload.TempC * 1.8 + 32\nmsg.payload.TempF = Math.round(c*10, 1)/10\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":200,"wires":[["5ae92e17.e831e8","7571fef0.89e8c","96ad38ac.d6704","62bdc3db.67f6cc"]]},{"id":"f612c540.b8a748","type":"function","z":"b026e386.3a0a78","name":"Timestamp","func":"msg.payload.timestamp = new Date()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":140,"wires":[["488bee13.156bf"]]},{"id":"96ad38ac.d6704","type":"influxdb out","z":"b026e386.3a0a78","influxdb":"50bbe81f.b8f4c","name":"Influx Insert","measurement":"main","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"young","bucket":"rvdata","x":850,"y":300,"wires":[]},{"id":"a2f551b5.e26418","type":"inject","z":"b026e386.3a0a78","name":"Repeat","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":420,"wires":[["aa31b2d4.59cef8"]]},{"id":"aa31b2d4.59cef8","type":"exec","z":"b026e386.3a0a78","command":"/root/sensors/pitemp/sensor.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Read PI CPU Temp","x":500,"y":440,"wires":[["12ba5233.561a5e"],[],[]]},{"id":"624c5cc2.3f4a2c","type":"debug","z":"b026e386.3a0a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":480,"wires":[]},{"id":"12ba5233.561a5e","type":"json","z":"b026e386.3a0a78","name":"","property":"payload","action":"obj","pretty":false,"x":510,"y":520,"wires":[["624c5cc2.3f4a2c","4f25fd16.27f7c4"]]},{"id":"4f25fd16.27f7c4","type":"influxdb out","z":"b026e386.3a0a78","influxdb":"50bbe81f.b8f4c","name":"Influx Insert","measurement":"raspberry_pi","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"young","bucket":"rvdata","x":750,"y":560,"wires":[]},{"id":"89c0cc1e.1bdfe8","type":"inject","z":"b026e386.3a0a78","name":"Repeat","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":600,"wires":[["5b678871.fbde68"]]},{"id":"5b678871.fbde68","type":"exec","z":"b026e386.3a0a78","command":"python3 /root/sensors/ve_direct/sensor.py","addpay":false,"append":"","useSpawn":"false","timer":"10","oldrc":false,"name":"Read VE.Direct","x":400,"y":600,"wires":[["be1ce8ed.28cc58"],["78a3c2b2.c391b4"],[]]},{"id":"78a3c2b2.c391b4","type":"debug","z":"b026e386.3a0a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":620,"wires":[]},{"id":"be1ce8ed.28cc58","type":"json","z":"b026e386.3a0a78","name":"","property":"payload","action":"","pretty":false,"x":550,"y":680,"wires":[["df6e1a81.8c351"]]},{"id":"df6e1a81.8c351","type":"influxdb out","z":"b026e386.3a0a78","influxdb":"50bbe81f.b8f4c","name":"Influx Insert","measurement":"SmartShunt","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"young","bucket":"rvdata","x":750,"y":720,"wires":[]},{"id":"62bdc3db.67f6cc","type":"influxdb out","z":"b026e386.3a0a78","influxdb":"fe579598.039438","name":"Influx Insert","measurement":"main","precision":"","retentionPolicy":"","database":"rvdata","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"young","bucket":"rvdata","x":850,"y":340,"wires":[]},{"id":"50bbe81f.b8f4c","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://192.168.1.87:8086","rejectUnauthorized":false},{"id":"fe579598.039438","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://192.168.1.243:8086","rejectUnauthorized":true}]